body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    padding: 0 10%;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
}
.description {
    font-size: 16px;
    color: #272727;
    font-weight: 400;
}
.tab-btn {
    padding: 10px 20px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
}
.tab-btn:hover {
    background-color: #e43158;
}
.tab-btn a {
    text-decoration: none;
    color: #fff;
}
.title {
    font-size: 26px;
    color: #272727;
    font-weight: 900;
}
/* navbar starts here */
.navbar-section {
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
}
.navbar {
    display: flex;
    list-style: none;
}
.navbar li {
    margin-left: 16px;
}
.navbar li a {
    text-decoration: none;
    color:#272727;
}
.navbar li:hover a {
    color: #E55473;
}

/* banner section starts from here */
.banner-container {
    height: 400px;
    display: flex;
    background-color: #fceef1;
    padding: 4% 10% 0 10%;
    justify-content: space-bettween;
}
.banner-container .banner-img {
    width: 500px;
}
.banner-content h1 {
    font-size: 45px;
    font-weight: 900;
    color: #272727;
}
.banner-content p {
    margin-top: -22px;
    width: 60%;
}
.featured-content {
    width: 54%;
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
}
.featured-img-content {
    display: flex;
    padding-top: 30px;
}
.card {
    height: 324px;
    width: 300px;
    background-color: #f2dee7;
    border-radius: 50% 50% 0 0;
    position: relative;
}
.card-content {
    text-align: center;
}
.tab-flower {
    margin: 0 2%;
}
.tab-img {
    width: 170px;
    position: absolute;
    right: 22%;
    bottom: 0;
}
.tab-img2 {
    width: 200px;
    position: absolute;
    top: 24%;
    right: 14%;
}
.flower-title {
    font-size: 18px;
    color: #272727;
    display: inline-block;
    padding-top: 20px;
}
.tab-bg {
    background-color: #d9eff1;
}
.tab-bg2 {
    background-color: #e3ebdb;
}