body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.container {
    padding: 0 10%;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
}
.description {
    font-size: 16px;
    color: #272727;
    font-weight: 400;
}
.tab-btn {
    padding: 10px 20px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
}
.tab-btn:hover {
    background-color: #e43158;
}
.tab-btn a {
    text-decoration: none;
    color: #fff;
}
.title {
    font-size: 26px;
    color: #272727;
    font-weight: 900;
}
.tab-container {
    margin: 6% 10%;
}
.tab-container2 {
    padding: 6% 10%;
}
/* navbar starts here */
.navbar-section {
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
}
.navbar {
    display: flex;
    list-style: none;
}
.navbar li {
    margin-left: 16px;
}
.navbar li a {
    text-decoration: none;
    color:#272727;
}
.navbar li:hover a {
    color: #E55473;
}

/* banner section starts from here */
.banner-container {
    height: 400px;
    display: flex;
    background-color: #fceef1;
    padding: 4% 10% 0 10%;
    justify-content: space-bettween;
}
.banner-container .banner-img {
    width: 500px;
}
.banner-content h1 {
    font-size: 45px;
    font-weight: 900;
    color: #272727;
}
.banner-content p {
    margin-top: -22px;
    width: 60%;
}

/* featured section starts*/
/*
.featured-container {
    margin: 6% 10%;
}
*/

.featured-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.para5 {
    padding: 0 20%;
}
.featured-img-content {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    align-items: center;
}
.card-content {
    width: 300px;
}
.card {
    height: 300px;
    width: 100%;
    background-color: #f2dee7;
    border-radius: 50% 50% 0 0;
    position: relative;
}
.card-content {
    text-align: center;
}
.tab-flower {
    margin: 0 2%;
}
.card img {
    width: 60%;
}
.tab-img {
 /*   width: 200px; */
    position: absolute;
    right: 22%;
    bottom: 0;
}
.tab-img2 {
    width: 260px;
    position: absolute;
    top: 28%;
    right: 20%;
}
.flower-title {
    font-size: 18px;
    color: #272727;
    display: inline-block;
    padding-top: 20px;
    font-weight: 900;
}
.tab-bg {
    background-color: #d9eff1;
}
.tab-bg2 {
    background-color: #e3ebdb;
}
/* support section starts */
/*
.container2 {
    margin: 8% 10%;
}
*/
.support-content {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding-top: 6%;
    gap: 50px;
    text-align: center;
    border-radius: 3px;
}
.support-title {
    font-size: 16px;
    color: #272727;
    font-weight: 700;
    margin-top: 10px;
}
.collect-img {
    width: 70px;
}

/* deal section starts */
.deal-container {
    display: flex;
    background-color: #fef6f8;
    padding: 6% 16% 6% 8%;
    height: 200px;
    text-align: center;
    justify-content: space-between;
}
.tab-red {
    color: #E55473;
}
.para {
    color: #272727;
    padding: 0 15%;
    font-weight: 400;
}

/*insta section starts*/
/*
.insta-container {
    margin: 6% 10%;
}
*/


.insta-content {
    text-align: center;
}
.para2 {
    color: #272727;
    padding: 0 20%;
    font-weight: 400;
}
.insta-images {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.insta-img {
    width: 100%;
    height: 240px;
}

/*subscription section starts*/
.subscription-container {
    background-image: url('../images/bg.png');
    background-size: cover;
    backgroun-repeat: no-repeat;
    padding: 6% 0;
    text-align: center;
}
.tab-title {
    font-size: 28px;
    color: #272727;
    font-weight: 900;
}
.tab-form input {
    padding: 12px 220px 12px 10px;
    border: none;
    margin-right: 4px;
}
.para3 {
    margin-top: -12px;
    padding-bottom: 8px;
}
.tab-btn2 {
    padding: 12px 20px;
}
.foot-container {
    padding: 10% 30%;
    background-color: #000;
    text-align: center;
}
.tab-foot-title {
    color: #fff;
}
.para4 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}